.Slider {
  background-color: #F6BDB7;
  height: 5px;
  position: relative;
  width: 300px;
  touch-action: none;
}

.Slider-Track {
  background-color: #F08981;
  height: 100%;
  width: 30%;
}

.Slider-Mark {
  background-color: #F6BDB7;
  bottom: 0;
  height: 12px;
  left: 15%;
  position: absolute;
  width: 4px;
}

.Slider-Thumb {
  background-color: #F08981;
  border-radius: 100%;
  bottom: -7px;
  height: 20px;
  left: 30%;
  position: absolute;
  width: 20px;
}

.Slider-CurrentValue {
  bottom: 25px;
  color: #4A5568;
  font-size: .8rem;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
}